<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="expediente">
            <h2><span>Expediente</span> {{ expediente.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Numero</span></dt>
                <dd>
                    <span>{{ expediente.numero }}</span>
                </dd>
                <dt><span>Alumno</span></dt>
                <dd>
                    <div *ngIf="expediente.alumno">
                        <a [routerLink]="['/alumno', expediente.alumno?.id, 'view']">{{ expediente.alumno?.nombre }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/expediente', expediente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
